footer{
	@include block;
	font-size: 1.2rem;
	line-height: 1.7;
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: 17%;
		top: -6.5rem;
		height: 7.2rem;
		width: 23.4rem;
		background-image: url(../img/silhouette-chiens-b.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
	.rights {
		width: 100%;
		padding: 0.7rem;
		background-color: white;
		text-align: center;
		color: $ocean;
		a {
			padding: 0 1rem;
			color: $ocean;
			&:hover {
				color: $deepSea;
			}
		}
	}
}
