// FOOTER ____________________________________________
footer{
	.rights {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 0.7rem;
		background-color: white;
		text-align: center;
		color: $river;
		a {
			padding: 0 1rem;
			color: $river;
			&:hover {
				color: $ocean;
			}
		}
	}
}