.site-header{
	position:fixed;
	z-index: 9999;
	height: 9.5rem;
	width: 100%;
	text-align: center;
	transition: all 0.3s ease;
	.wrapper{
		position: relative;
		z-index: 2;
		max-width: 98rem;
		height: 100%;
		margin: auto;
		padding: 0;
		text-align: left;
	}
}
.fixedTop {
	background-color: rgba($ocean,0.7);
	ul#primary-menu a {
		text-shadow: inherit;
	}
}

// Logo
.site-branding{
	@include inline-block;
	max-width: 15rem;
	margin: 0;
	margin-top: -1.4rem;
	padding: 0;
	transition: all 0.3s ease;
	transform-origin:top center;
	p{
		margin-top: 0;
		margin-bottom: 0;
		height: 100%;
	}
	a{
		@include block;
		width: 100%;
	}
}
svg {
	width: auto;
	height: 100%;
}

.site-branding:hover
{
	animation: swing 1s ease;
}

@keyframes swing{
	20% { transform: rotateZ(-5deg); }
	40% { transform: rotateZ(5deg); }
	60% { transform: rotateZ(-5deg); }
	80% { transform: rotateZ(5deg); }
	to { transform:rotate(0deg) }
}

// Menu
.main-navigation{
	@include inline-block;
	width: auto;
	height: auto;
	z-index: 1;
	float: right;
	margin-top: 4.5rem;
	.menu-menu-1-container{
		height: 100%;
	}

	// Base générale menu
	ul#primary-menu{
		@include block;
		height: 100%;
		width: 100%;
		line-height: 3rem;
		list-style: none;
		font-family: $titleFont;
		> li{
			position: relative;
			 > a{
				height: 100%;
				margin: 0 1.4rem;
				font-size: 1.7rem;
				font-weight: 300;
				color: $menuItem;
				font-size: 1.7rem;
				padding-bottom: 2rem;
				text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.3);
				&:hover {
					&:before {
						content: "";
						height: 0.1rem;
						width: 60%;
						background-color: white;
						position: absolute;
						bottom: 1.4rem;
						left: 20%;
					}
				}
			}
		}
		.sub-menu{
			@include block;
			position: absolute;
			top: 4rem;
			width: 13rem;
			margin-left: 1.4rem;
			padding: 0.6rem;
			background-color: white;
			border-radius: 0.3rem;
			text-align: center;
			box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.12);
			&:before{
				content: "";
				display: block;
				position: absolute;
				top: -0.6rem;
				left: 50%;
				width: 1.2rem;
				height: 1.2rem;
				margin: 0 0 0 -0.6rem;
				border-radius: 4px 0 0 0;
				background: #fff;
				box-shadow: -3px -3px 5px rgba(82,95,127,0.04);
				transform: rotateZ(45deg);
			}
			li{
				width: 100%;
			}
			a{
				width: auto;
				padding: 0.4rem;
				color: $ocean;
				font-size: 1.5rem;
				font-weight: 400;
				text-shadow: inherit;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}

// Bouton menu responsive
.mobil-nav-button{
	position: absolute;
	top: 3rem;
	right: 0;
	width: 3.5rem;
	height: 2.7rem;
	padding: 0;
	margin: 0;
	background-image: url('./../img/menu-burger.png');
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	border: none;
	visibility: hidden;
	z-index: 3;
	display: none;
	border-radius: 0;
	&:focus{
		border: none;
		outline-width: 0.1rem;
		border: none;
	}
	&:hover{
		background-color: rgba(0,0,0,0);
	}
}

.header-scroll {
	background-color: rgba(0,0,0,0.5);
}

.menu-toggle {
	display: none;
}

// Bouton menu responsive
.hamburger {
	position: absolute;
	top: 2.7rem;
	right: 0;
	width: 3rem;
	height: 2.8rem;
	padding: 0;
	margin: 0;
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	border: none;
	visibility: hidden;
	cursor: pointer;
	z-index: 3;
	&:focus{
		box-shadow: none;
		border: none;
		outline-color: white;
		outline-width: 0.1rem;
		border: none;
	}
	&:hover{
		background-color: rgba(0,0,0,0);
		opacity: 1;
	}
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		width: 33px;
		height: 3px;
		background-color: white;
	}
}

.menu-mobile-logo {
	width: 13rem;
	display: block;
	margin: 0 auto 3rem;
}

.phone-menu {
	bottom: 10;
	display: block;
	background-color: white;
	text-align: center;
	width: 100%;
	color: $ocean;
	padding: 0.9rem;
	position: fixed;
	bottom: 0;
}

// global
.menu-mobile {
	position: fixed;
	display: block;
	right: -3rem;
	top: 0;
	bottom: 0;
	background-color: $ocean;
	width: 32rem;
	min-height: 100vh;
	height: 100%;
	transform: translate( 32rem );
	transition: transform 0.3s;
	overflow: scroll;
	.mobile-fermeture {
		position: absolute;
		top: 3rem;
		left: 0rem;
		width: 3rem;
		height: 3.2rem;
		background-position: 2.2% 20.4%;
		background-size: 44.7rem auto;
		cursor: pointer;
		z-index: 9999;
	}
	.mobile-logo {
		width: 60%;
		margin: 3vh auto 4vh;
		display: block;
	}
	// premier niveau
	ul.menu {
		padding: 0;
		margin: 0;
		a {
			display: block;
			padding: 0.6rem 2rem;
			font-size: 1.2rem;
			color: white;
			transition: color 0.3s, background-color 0.3s;
		}
		li {
			position: relative;
			background-color: $ocean;
			text-transform: uppercase;
			line-height: 1.7rem;
			&:last-child {
				border-bottom: none;
				a {
					border-bottom: none;
				}
			}
			&:hover {
				background-color: $ocean;
			}
		}
		.sub-menu-btn {
			height: 3rem;
			width: 3rem;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			background-color: #e8e8e8;
			transition: transform 0.3s;
			cursor: pointer;
			i {
				@include block;
				margin-top: 0.5rem;
				margin-left: 1.2rem;
				font-size: 1.2rem;
				height: 1rem;
				width: 1rem;
				color: #a5a5a5;
				transition: 0.3s;
			}
		}
		// deuxieme niveau
		.openSubMenu {
			background-color: $ocean;
			i {
				transform: rotateZ(90deg);
			}
			ul.sub-menu {
				max-height: 26rem;
			}
			.sub-menu-btn {
				background-color: #d7d7d7;
			}
		}
		// troisieme niveau
		ul.sub-menu {
			max-height: 0rem;
			padding: 0;
			margin: 0;
			background-color: #e8e8e8;
			transition: max-height 0.5s;
			overflow: hidden;
			a {
				padding: 0.5rem 3rem 0.5rem 4rem;
				font-size: 1.3rem;
			}
			li {
				background-color: $ocean;
				&:hover {
					background-color: $ocean;
				}
			}
			.sub-menu-btn {
				display: none;
			}
			ul.sub-menu a {
				padding-left: 7rem;
			}
		}
	}
	.nav-1 {
		text-align: center;
		ul.menu {
			background-color: inherit;
			border: 0;
			li {
				@include inline-block;
				background-color: inherit;
				border: 0;
				a {
					padding: 0 1.5rem;
				}
			}
		}
	}
	.footer-phone {
		color: $ocean;
		@include block;
		padding: 1.7rem 2rem 0;
		a {
			margin-left: 0.5rem;
			font-size: 1.6rem;
			font-weight: 700;
			color: $ocean;
		}
	}
}

.openMenu{
	.menu-mobile{
		transform: translate( -3rem );
	}
	#page{
		transform: translate( -32rem );
	}
}

