.presentation-home {
	height: 80vh;
	.overlay {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
	}
	%title {
		font-size: 8rem;
		line-height: 7rem;
		width: 60%;
	}
}

.home {
	.site-content {
		margin-top: 0;
	}
	article {
		.entry-content {
			%title + p {
				font-weight: 600;
				font-size: 1.7rem;
			}
		}
	}
}

div.entry-content-home{
	@include container();
	max-width: inherit;
	padding-left: 0rem;
	padding-right: 0rem;
}
.separator {
	position: absolute;
	display: block;
	width: 26rem;
	height: auto;
	bottom: -6rem;
	right: 0;
	z-index: 4;
}
.zone-picto, .zone-photo {
	height: 50rem;
	padding: 0;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.zone-picto {
	background-image: url("../img/fond-picto.jpg");
}
.zone-photo {
	background-image: url("../img/fond-photos.jpg");
}

.zone-texte {
	background-image: url("../img/tourisme-charente-maritime.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	.wrapper {
		overflow: hidden;
	}
	.part-1 {
		padding-right: 4rem;
	}
	.part-2 {
		&:before, &:after {
			content:" ";
			display: block;
			position: absolute;
			top: -2rem;
			left: 0;
			height: 0.4rem;
			width: 9rem;
			background-color: $river;
		}
		.btn-link {
			left: 0;
		}
	}
}

.zone-texte-2 {
	background-image: url("../img/branche-feuilles.png");
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
	.wrapper {
		overflow: hidden;
	}
	.part-1 {
		padding-left: 4rem;
	}
	.part-2 {
		&:before, &:after {
			content:" ";
			display: block;
			position: absolute;
			top: -2rem;
			left: 0;
			height: 0.4rem;
			width: 9rem;
			background-color: $river;
		}
	}
}
.part-1, .part-2 {
	@include block;
	width: 50%;
	float: left;
	vertical-align: middle;
}

.zone-contact {
	@include block;
	width: 100%;
	height: 40rem;
	background-image:url('./../img/google-map-saint-martin.jpg');
	border-top: 1rem solid $ocean;
	text-align: center;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 14%;
		top: -7.5rem;
		height: 7.2rem;
		width: 23.4rem;
		background-image: url(../img/silhouette-chiens.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
	}
	.site-info {
		position: absolute;
		top: 5rem;
		left: 25%;
		display: block;
		padding: 1.2rem;
		background-color: $ocean;
		text-align: left;
		.lineout {
			padding: 1.2rem 3rem 0.2rem;
			border: 0.1rem solid white;
		}
		.title {
			color: white;
			font-size: 3rem;
			margin-bottom: 1rem;
		}
		p {
			color: white;
		}
	}
}

.imgSup1 {
	@include block;
	height: 10rem;
}
