.presentation-home {
	height: 80vh;
	.overlay {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
	}
	%title {
		font-size: 8rem;
		line-height: 7rem;
		width: 60%;
	}
}

.home {
	.site-content {
		margin-top: 0;
	}
	article {
		.entry-content {
			%title + p {
				font-weight: 600;
				font-size: 1.7rem;
			}
		}
	}
}

div.entry-content-home{
	@include container();
	max-width: inherit;
	padding-left: 0rem;
	padding-right: 0rem;
}
.separator {
	position: absolute;
	display: block;
	width: 26rem;
	height: auto;
	bottom: -6rem;
	right: 0;
	z-index: 4;
}
.zone-picto {
	background-image: url("../img/fond-picto.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50rem;
}
.zone-photo {
	padding: 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			@include inline-block;
			width: 20%;
			height: 20rem;
			float: left;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			&:nth-of-type(1) {
				background-image: url("../img/vignette-1.jpg");
			}
			&:nth-of-type(2) {
				background-image: url("../img/vignette-2.jpg");
			}
			&:nth-of-type(3) {
				background-image: url("../img/vignette-3.jpg");
			}
			&:nth-of-type(4) {
				background-image: url("../img/vignette-4.jpg");
			}
			&:nth-of-type(5) {
				background-image: url("../img/vignette-5.jpg");
			}
		}
	}
}

.zone-texte {
	background-image: url("../img/tourisme-charente-maritime.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	.wrapper {
		overflow: hidden;
	}
	.part-1 {
		padding-right: 4rem;
	}
	.part-2 {
		padding-left: 4rem;
		&:before, &:after {
			content:" ";
			display: block;
			position: absolute;
			top: -2rem;
			left: 4rem;
			height: 0.4rem;
			width: 9rem;
			background-color: $river;
		}
		.btn-link {
			left: 4rem;
		}
	}
}

.zone-texte-2 {
	background-image: url("../img/branche-feuilles.png");
	background-size: contain;
	background-position: left top;
	background-repeat: no-repeat;
	.wrapper {
		overflow: hidden;
	}
	.part-1 {
		padding-left: 4rem;
	}
	.part-2 {
		padding-right: 4rem;
		&:before, &:after {
			content:" ";
			display: block;
			position: absolute;
			top: -2rem;
			left: 0;
			height: 0.4rem;
			width: 9rem;
			background-color: $river;
		}
	}
}
.part-1, .part-2 {
	@include block;
	width: 50%;
	float: left;
	vertical-align: middle;
}

.zone-contact {
	@include block;
	width: 100%;
	height: 40rem;
	background-image:url('./../img/google-map-saint-martin.jpg');
	text-align: center;
	.site-info {
		position: absolute;
		top: 5.4rem;
		left: 25%;
		display: block;
		padding: 1.2rem;
		background-color: $ocean;
		text-align: left;
		.lineout {
			padding: 1.2rem 3rem 0.2rem;
			border: 0.1rem solid white;
		}
		.title {
			color: white;
			font-size: 3rem;
			margin-bottom: 1rem;
		}
		p {
			color: white;
		}
	}
}

.imgSup1 {
	@include block;
	height: 10rem;
}
